# Entornos virtuales
venv/
*/venv/
**/venv/
.env/
*/.env/

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE y archivos del sistema
.vscode/
.DS_Store
*.log

# Archivos de empaquetado
build/
dist/
*.egg-info/
