# Entornos virtuales
venv/
*/venv/
**/venv*/
.env/
*/.env/
**/.env/

# Cachés de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos temporales / logs
*.log
*.tmp

# Configuración del IDE y del sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# Archivos de empaquetado de Python
build/
dist/
*.egg-info/
.eggs/
*.manifest
*.spec

# Archivos de cobertura de pruebas
.coverage
htmlcov/
.tox/
.cache/
nosetests.xml
coverage.xml
*.cover

# Archivos de pip
pip-log.txt
pip-delete-this-directory.txt
